<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./style.css')}}">
    <title>CustomLife</title>
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='./imagens/logo.png')}}" alt="Logo" class="logo">
            <a href="/" class="menu">Home</a>
            <a href="/suzuki" class="menu">Suzuki</a>
            <a href="/honda" class="menu">Honda</a>
            <a href="/yamaha" class="menu">Yamaha</a>
            

    </header>   
    {% block main %}
        {% endblock %}
    <footer>
        Todos os direitos reservados
    </footer>
</body>
</html>