<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./style.css')}}">
    <title>CustomLife</title>
</head>
<body>
    <header class="menu">
        <div class="logo">
            <img src="../static/imagens/logomoto.png" alt="Logo" class="logo" width="100px" height="100px">
        </div>
        <nav>
            <ul class="link_menu">
                <Li><a href="/" >Home</a></li>
                <li><a href="/suzuki" >Suzuki</a></li>
                <li><a href="/honda" >Honda</a></li>
                <li><a href="/yamaha" >Yamaha</a></li>
            </ul>
        </nav>    

    </header>   
    {% block main %}
        {% endblock %}
    <footer>
        Todos os direitos reservados - 2023
    </footer>
</body>
</html>