{% extends "base.html" %}
{%block main%}
<body background="C:\Users\Gabriela Tediole\devweb\DevWeb2\devweb\static\imagens\fundo2.png">
    
    <h2>
        Entre em contato:
    </h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Excepturi vel at, quaerat tenetur id accusamus delectus doloremque
        perferendis est ex sapiente ipsum. Quaerat, molestias distinctio! 
        Molestias necessitatibus sequi nam! Quas?
    </p>
    <form action="/" method="GET" >
        <label for="fname">Seu e-mail:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Assunto:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="lname">Descrição:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <br>
        <input type="submit" value="Enviar">
      </form> 
      
</body>
{%endblock%}