<!DOCTYPE html>
<html lang="pt-br ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='./style.css')}}">
    <title>Home</title>
        <header>
            <img src="{{url_for('static', filename='./imagens/logo.png')}}" alt="Logo" class="logo">
            <a href="/" class="menu">Home</a>
            <a href="/quemsomos" class="menu">Quem somos</a>
            <a href="/contato" class="menu">Contato</a>
        </header>
        </head>
        <body>
            <img src="{{url_for('static', filename='./imagens/capa.png')}}"  alt="UNES" class="capa" >
                <h2>
                    Sobre a universidade
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Est corporis beatae doloribus quo illo, voluptas reiciendis
                    eos sunt ea suscipit omnis praesentium. Quam officia, 
                    totam quis ex deleniti nobis dignissimos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati 
                    tempora, quis beatae, laboriosam harum mollitia dolor, quisquam necessitatibus
                    eveniet doloribus provident veritatis non iusto architecto consectetur a ipsum. 
                    Repellat.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, 
                    natus repellat in soluta dolore ipsa recusandae impedit temporibus, 
                    uam praesentium commodi quae necessitatibus ducimus quasi esse quod
                    voluptates cumque blanditiis!
                </p>
                <footer>
                    Todos os direitos reservados
                </footer>
</body>
</html>