{% extends "base.html" %}
{% block main %}

<body class="index_body">
        <div class="container">
          <div>
            <div class="content">
              <h2>Intruder</h2>
              <span>125cc Suzuki</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>Shadow</h2>
              <span>600cc Honda</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>Virago</h2>
              <span>250cc Yamaha</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>DragStar</h2>
              <span>650cc Yamaha</span>
            </div>
          </div>
        </div>
  
</body>
{% endblock %}
