{% extends "base.html" %}
{%block main%}
<body>
    <style> 
        body{
            background-image: url(/imagens/fundo2.png);
            align-content: center;
        }
    </style>
    <h2>
        Quem somos?
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, 
        saepe. Necessitatibus quaerat beatae, laborum amet fugit facere
        neque? Amet enim in dignissimos possimus excepturi nemo mollitia
        velit autem accusantium facilis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, 
        suscipit ab molestiae fugit fuga accusamus voluptate architecto nemo
        illum id amet sit, aperiam nam iste aut, dicta dolores alias corporis.
    </p>
    <h2>
        5 Motivos para estudar:
    </h2>
    <ol>
        <li>
            Primeiro motivo para estrudar na UNES
        </li>
        <li>
            Segundo motivo para estudar na UNES
        </li>
        <li>
            Terceiro motivo para estudar na UNES
        </li>
        <li>
            Quarto motivo para estudar na UNES
        </li>
        <li>
            Quinto motivo para estudar na UNES
        </li>
    </ol>
    <h2>
        Objetivos:
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quas
        et quos architecto voluptate dolor eligendi tempora! Modi facilis, nemo debitis
        optio necessitatibus nesciunt veniam architecto unde harum impedit rem? Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Est aspernatur placeat et facere
        ut sed nulla recusandae repudiandae maxime voluptatem quis, eius autem quibusdam
        architecto dolor corrupti! Itaque, repudiandae laborum.
    </p>
</body>
{%endblock%}