@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    background-image: url(/imagens/fundo.png);
    align-content: center;
}
a {
    text-decoration: none;
    color: black;
    text-align: right;
    display: flex;
    margin-right: 15%;
}
header{
    margin-top: 1.7%;
    margin-right: 14%;
    display: flex;
}
h2{
    margin-left: 15%;
    margin-right: 15%;
}
ol{
    margin-left: 15%;
    margin-right: 15%;
}
p { 
    text-align: center;
    font-size: 16px;
    margin-left: 15%;
    margin-right: 15%;
}
form{
    margin: 2% 15% 7% 15%;
}
input[type=text]:focus {
    border: 3px solid #383f5d;
  }
footer {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: #383f5d;
}
/* Classes */
.menu{
    display: flex;
    margin-top: 1.8%;
    margin-right: 1.5%;
}
.logo {
    margin-left: 18%;
    margin-right: auto;
    }
.capa {
    width: 70%;
    height: 408px;
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.body_index {
    background: url(../static/imagens/fundo.png);
}
